* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header, footer {
    color: #F9FAF8;
    background-color: #1f2937;
}

.containerOne h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.containerOne p, header ul {
    color: #E5E7EB;
    font-size: 18px;
}

header h2 {
    color: #F9FAF8;
    font-size: 24px;
}

.containerOne {
    background-color: #1f2937;
    display: flex;
}

.containerTwo {
    padding: 50px;
}

.containerTwo ul {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
    flex-wrap: wrap;
}

.containerTwo li {
    display: flex;
    flex-flow: column wrap;
    width: 150px;
}

.containerTwo li img {
    border: solid blue;
    border-radius: 20px;
}

.containerTwo h2 {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    justify-content: center;
    margin-bottom: 35px;
}

.containerThree {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
}

.containerThree h4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}

.containerThree p {
    font-size: 26px;
    color: #1F2937;
    font-style: italic;
}

.containerFour {
    padding: 100px;
}

button {
    background-color: #3882f6;
}

.subContainer {
    background-color: #3882f6;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

li img {
    width: 100px;
    height: 100px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 25px;
}